.Register-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 8vh;
}

.Register-users-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25ch;
    margin: 30px;
}

. Register-users-paper {
    width: fit-content;
}