
.cardview {
    max-width: 345px;
}
drawer {
    background: #61dafb;
}
.media {
    height: 150px;
}
.avatar {
    backgroundco: red;
}


.leftIcon {
    margin-right: 1px;
}
.rightIcon {
    margin-left: 1px;
}
.iconSmall {
    font-size: 20px;
}
.form-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.fab-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
.list-container {
    width: 100%;
}
/* quesiton */
.question-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.question-description {
    width: 100%;
    margin: 20px;
}
.question-nav-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: row;
}
.question-nav-button {
    width: 120px;
    margin: 10px !important;
}
.question-option-container {
    width: 100%;
    display: flex;
}
.question-option {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}
.vs-row {
    width: 100%;
    margin: 10px;
    display: flex;
    align-content: center;
    align-items: center;
}
.vs-select {
    min-width: 120px;
}
.vs-text__fullwidth {
    width: 100%;
}
.app-title {
    flex-grow: 1;
}
.bar-chart {
    width: 300px;
    height: 150px;
}

.sharp-c-uhc-banner {
    height: 34px;
    align-items: center;
    padding: 20px;
    background: #122377;
    color: #fff;
    z-index: 10;
}
.sharp-c-uhc-banner sup {
    color: yellow;
}

.chart-dimensions {
    height: 200px;
    width: 400px;
}
